<div>
  <a href="{{ url_for('index') }}">Home</a>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('logout') }}">Logout</a>
  <br />
  <br />
  <br />
  <form
    action="http://localhost:5000/uploader"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="file" name="file" />
    <a href="{{ url_for('upload_file') }}"></a>
    <br/><br/>
    <input type="submit">
</form>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}

</div>
